* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: Maple Mono;
  border-radius: 9px;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #241f17 100%);
  border-radius: 14px;
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio, 
#custom-weather {
  background-image: linear-gradient(to bottom, #332d23  100%);

  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;
}

#custom-weather {
  margin-right: 6px;
}
#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #a4ae69 100%);
  color: #141216;
  transition-duration: 120ms;
}

#network:hover {
  background-image: linear-gradient(to bottom, #a4ae69  100%);
  color: #141216;
  transition-duration: 120ms;
}

#clock:hover {
    background-image: linear-gradient(to bottom, #a4ae69 100%);
  color: #141216;
  transition-duration: 120ms;
}

#battery:hover {
  background-image: linear-gradient(to bottom, #a4ae69 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray:hover{
  background-image: linear-gradient(to bottom, #a4ae69 100%);
  color: #141216;
  transition-duration: 120ms;
}
#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #a4ae69 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray menu menuitem {
  background-image: linear-gradient(to bottom, #332d23  100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #332d23;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #332d23 100%);
  color: #a4ae69 ;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #a4ae69 ;
}
#workspaces button.focused {
  color: #a4ae69 ;
  font-weight: bold;
}
#workspaces button.active {
  color: #a4ae69 ;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

#battery {
  background-color: #241f17;
  color: #d8cab8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #fc4649 ;
  color: #1d2021;
}

#custom-weather:hover {
  background-image: linear-gradient(to bottom, #a4ae69 100%);
  color: #141216;
  transition-duration: 120ms;
}

tooltip {
    background: #241f17;
    border: 1px solid #a4ae69;
    border-radius: 8px;
    padding: 2px;
    font-family: Maple Mono;
}

tooltip label {
    color: #d8cab8;
    font-family: Maple Mono;
    font-size: 15px;
}